*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #2a2a2a;
	text-align: center;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

li{
	display: inline-block;
	padding: 8px 16px;
	color: #ff859a;
	cursor: default;
}

#rgb{
	padding-top: 20px;
	font-size: 50px;
}

.grid-container{
	display: grid;
	grid-template-columns: 140px 140px 140px;
	grid-gap: 15px;
	padding-top: 50px;
	justify-content: center;
}

.grid-container div{
	background-color: white;
	height: 130px;
	border-radius: 10px;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.grid-container div:hover{
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

#left:hover{
	background-color: #efefef;
}

#easy:hover{
	background-color: #efefef;
}

#hard{
	background-color: #efefef;
}

#hard:hover{
	background-color: #efefef;
}

#check{
	text-align: center;
	margin-right: 20px;
	margin-left: 20px;
}

#title{
	text-align: center;
	padding-top: 40px;
	color: #fcfcfc;
}

#header{
	width: 100%;
	height: 200px;
	background-color: #ff859a;
	cursor: default;
}

#bar{
	width: 100%;
	height: 35px;
	background-color: #fcfcfc;
}